<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!DOCTYPE html PUBLIC "" "">
<html>

<header>
<title>{{tag_name}} - Engineering Document Index</title>
<link rel="stylesheet" href="dist/main.css">
</header>

<body>

    <div id="content">
        <h2>{{tag_name}}</h2>
        <p>W = Water | S = Sewer | D = Drainage | R = Road or Street</p>
        <table class="tags">
            <thead>
                <tr><td class="index">Index</td><td class="date">Date</td><td class="info">Info</td><td class="location">Location</td><td class="open"></td></tr>
            </thead>
            <tbody>
            {{#table}}
                <tr class="{{row_class}}" href="{{server_location}}"><td>{{physical_index}}</td><td>{{tag_date}}</td><td>{{doc_info}}</td><td>{{location_desc}}</td><td>{{{doc_link}}}</td></tr>
            {{/table}}
            </tbody>
        </table>
    </div>

</body>

<script src="dist/jquery-1.11.1.min.js"></script>
<script src="dist/main.js"></script>
</html>